@import url('https://fonts.googleapis.com/css2?family=Candal&family=Comfortaa:wght@300;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'open sans';

    --clrSkyBlue: #5e95d4;
    --clrRed: #b11424;
    --clrYellow: #ffda6b;
}

body{
    background-image: url(./pexels-francesco-ungaro-673648.jpg);
    background-repeat: no-repeat;
    background-position-y: -400px; 
    overflow-x: hidden;
}

.container{
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    max-width: 100vw;
    z-index: 1; 
       
}


.btn{
    background-color: white;
    padding: 0.8rem 1.2rem;
    border-radius: 2px;
    opacity: 100%;
    margin-top: 1.8rem;
    width: fit-content;
    height: fit-content;
    transition-duration: 100ms;
}

.btn:hover{
    scale: 105%;
    box-shadow: 1px 1px 10px -5px black;
    background-color: white;
    border: 2px solid #2696E8;
}

/*====================================*/
header{
    display: flex;
    flex-wrap: wrap;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    min-width: 360;
    opacity: 100%;
    text-align: left;
    width: 30%;
}

/*====================================*/
.navlinks{
    text-align: left;
    width: 100vw;
    height: fit-content;
    opacity: 90%;
    padding: 1rem;
    position: fixed;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;    
}
li{
    display: inline-block;
    padding: 0.5rem 0.5rem;
    font-weight: bold;
    transition-duration: 200ms;
}

li:hover{
    scale: 110%;
    transform: translateY(5px);
}

a{
    color: var(--clrSkyBlue);
    scale: 100%;
    transition-duration: 200ms;
    text-decoration: none;
}

a:hover{
    color: var(--clrSkyBlue);
}

.contact{
    margin-left: 2em;
    margin-right: 1em;
    border: 2px solid;
    border-radius: 5px;
    padding: 0.5em 2em;
}

/*====================================*/
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 8rem;
    width: 100vw;
    height: fit-content;    
}

.hero{
    padding-top: 1rem;
    max-width: 60vw;
    position: relative;
}

h1{
    font-size: 3.5rem;
    padding-bottom: 1rem;
    color: black;
    text-shadow: 1px 5px 10px rgb(129, 129, 129);
}

/* h1 {
    font-size: 72px;
    background: -webkit-linear-gradient(#2696E8, #2696E8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  } */

h2{
    font-size: 2.5rem;
    padding-bottom: 1rem;
    text-shadow: 1px 5px 10px rgb(157, 163, 171); 
}

h3{
    font-size: 2rem;
    padding-bottom: 1rem;
}

p{
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

input{
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: none;
}

.comments{
    display: flex;
    min-height: 5rem;
    min-width: 100%;
    height: fit-content;
}
.userInfo{
    border-radius: 10px;
    min-height: 2rem;
    min-width: 80%;
    border: none;
    width: 3rem;
    margin: 0.5rem;
    padding: 0.4rem;
 }

/*====================================*/
.section{
    display: flex;
    flex-wrap: wrap;
    padding: 0rem 0rem;
    max-width: 100%;    
}

.content{
    width: 48%;
    min-width: 360px;
    margin: 0 auto;
    padding: 3rem 3rem;
    background-color: white;
    opacity: 90%;
    transition-duration: 300ms;
    flex-direction: column;
    background-size: cover;
    box-shadow: 1px 1px 8px -5px black;
}

.content:nth-child(even){
    background-color: #fbc627;

}

.content:hover{
    border-radius: 10px;
    scale: 101%;
    box-shadow: 1px 1px 5px -5px var(--clrSkyBlue);
    z-index: 1;
}

article{
   color: #000000;
}
/*====================================*/
.testimonials{
    width: 22%;
    min-width: 300px;
    margin: 0 auto;
    padding: 2rem;
    transition-duration: 200ms;
    border-bottom: 1px solid #000000;
}   

.testimonials:nth-child(odd){
    background-color: #FFBF00;
}

.testimonials:hover{
    scale: 105%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px -5px var(--clrSkyBlue);
    background-color: white;
}

.testHeader{
    padding-left: 2.2rem;
}

.picture{
    width: 30%;
    height: 30%;
    border-radius: 50%;
}


.space{
    width: 100%;
    height: 100%;
    background-color: #000000;
}


/* =============ICONS. IconClass targets individual icons============ */

.icons{
    width: 80%;
    min-width: 300px;
    margin-left: -2rem;
    transition-duration: 200ms;
} 

.icons:nth-child(odd){
    background-color: #FFBF00;
}

.icons:hover{
    border-radius: 5px;
}

.iconClass{
    scale: 50%;
    transition-duration: 200ms;
    text-align: center;
}

.iconClass:hover{
scale: 70%;
border-radius: 5px;
}










/*============TRANSITION ANIMATIONS=====================*/
.one{
    width: 100%;
    min-height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0rem;
}

.one{
    transform: translateX(500px);
    opacity: 0;
    transition: 1500ms ease-in-out;
}

.one:nth-child(odd){
    transform: translateX(-300px);
    opacity: 1;
    transition: 1500ms ease;
}

.one.show{
    transform: translateX(0);
    opacity: 1;
}




/* ======= CURSOR ANIMATIONS====== */
.cursor {
    z-index:-1;
    position: fixed;
    background: #2696E8 ;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    pointer-events: none;
    box-shadow: 0 0 20px #2696E8,
                0 0 60px #2696E8,
                0 0 100px #2696E8 ;
    animation: colors 40s infinite;
    transform: translate(-150%, -50%);
    display: none;
}

@keyframes colors{
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.cursor::before{
    content: '';
    position: absolute;
    background: #2696E8 ;
    width: 0px;
    height: 0px;
    opacity: 0.2;
    transform: translate(-30%, -30%);
    border-radius: 50%;
}












.change{
    display: flex;
    width: fit-content;
    opacity: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15vw;
}

.image{
    background-image: url(./pexels-fauxels-3184423.jpg);
    background-size: cover;
    background-position-y: center ;
    width: 100%;
    height: 50vh;
    filter: brightness(90%);
}

.image2{
    background-image: url(./pexels-jopwell-2422293.jpg);
    background-size: cover;
    background-position-y: -100px ;
    width: 100%;
    height: 50vh;
}

.image3{
    background-image: url(./pexels-mikael-blomkvist-8961031.jpg);
    background-size: cover;
    background-position-y: -1000px;
    width: 100%;
    height: 50vh;
}

.imagez{
    background-image: url(./pexels-singkham-1108572.jpg);
    background-size: cover;
    background-position-y:-50px ;
    width: 100%;
    height: 100%;
}